body {
  background: black;
  color: white;
  height: 100vh;
  font-size: 25px;
}

.info-box {
  width: 70%;
  margin: 80px auto;
  padding: 30px;
  background: #111827;
  border-radius: 12px;
  border: 2px solid transparent;

  color: #e5e7eb;
  font-size: 18px;
  line-height: 1.7;

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.info-box:hover {
  transform: translateY(-6px);
  border: 2px solid #38bdf8;
  box-shadow: 0 0 20px #38bdf8;
}

.info-box p {
  margin: 0;
}

.info-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(56,189,248,0.8);
}

.Cube {
  width: 70%;
  margin: 80px auto;
  padding: 30px;
  background: #111827;
  border-radius: 12px;
  border: 2px solid transparent;

  color: #e5e7eb;
  font-size: 18px;
  line-height: 1.7;

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.Cube:hover {
  transform: translateY(-6px);
  border: 2px solid #38bdf8;
  box-shadow: 0 0 20px #38bdf8;
}

.Cube p {
  margin: 0;
}

.Cube:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(56,189,248,0.8);
}
